/* css reset */
*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

/* Navbar */
nav{
    position:absolute;
    top:0;
    left:0;
    height: 20vh;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(2, auto);
    align-items:center;
    color: #fafafa
}

#brand{
    font-size: 45px;
    font-weight:bold;
}

ul.nav-ul{
    list-style-type:none;
    justify-self: end;
}

li.nav-item{
    float:left;
    margin: 12px 25px;
}

li.nav-item a{
    text-decoration: none !important;
    font-size: 18px;
}